<section class="hero is-success is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
           <%= link_to root_path, class: "navbar-item" do %>
            <span class="has-text-weight-bold is-size-4 ml-4">Foodlog</span>
            <% end %>
          </a>
          
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
          <span class="navbar-item">
          <%= link_to  new_entry_path, class:"button is-success" do %>
            <span>Create new Entry</span>
            <% end %>
            </span>
            <a class="navbar-item">
              Examples
            </a>
            <a class="navbar-item">
              Documentation
            </a>
            <span class="navbar-item">
              <a class="button is-success is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Download</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
      <% if content_for(:title) %>
        <%= yield :title %>
        <% else %> 
        Food Log
        <% end %>
      </h1>
      
    </div>
  </div>
  

  
</section>
